doctype html
html
	head
		title= title
		link(rel='stylesheet', href='../stylesheets/bootstrap.min.css')
		script(src='../javascripts/jquery.min.js')
		script(src='../javascripts/bootstrap.min.js')
		style.
			.center{
				margin-top: 50%;
			}
	body
		div.container
			div.row
				div.col-md-4
				div.col-md-4 
					div.panel.panel-primary.center
						div.panel-heading Login
						div.panel-body
							if errors
								div.alert.alert-danger(role='alert')
									ul
										each error in errors
											li= error.msg
							form(method='post', action='#{site_url()}/#{admin_url}/login')
								div.form-group
									label Email
									input.form-control(type="text" name="email" placeholder="Email")
								div.form-group
									label Password
									input.form-control(type="password" name="password" placeholder="Password")
								input(type='hidden', name='_csrf', value='#{_csrf}')
								button#login.btn.btn-primary(type='submit') Login
				div.col-md-4
