extends layout

block content
	div.panel.panel-default
		//- div.panel-heading= title
		//- div.panel-body
		ul.nav.nav-tabs.nav-justified
			li.active(role="presentation")
				a(href="javascript:void(0);") Users
			li(role="presentation")
				a(href="#{site_url()}/#{admin_url}/report_exp") Experiments 
			form(method='post' action='#{site_url()}/#{admin_url}/report')
				input(type='hidden', name='_csrf', value='#{_csrf}')
				div.row
					div.col-md-4
						div.form-group
							label Date From
							input.form-control(type="text" id="date_from" name="date_from" value=filter.date_from?filter.date_from:'', placeholder="Date From")
					div.col-md-4
						div.form-group
							label Date To
							input.form-control(type="text" id="date_to" name="date_to" value=filter.date_to?filter.date_to:'', placeholder="Date To")
				div.btn-group
					button#filter.btn.btn-primary(type='submit')
						span.glyphicon.glyphicon-exclamation-filter(aria-hidden="true")
						|Filter
					//if filter.date_from || filter.date_to
						a#clear.btn.btn-default(type='button', href='/#{admin_url}/report') 
							span.glyphicon.glyphicon-exclamation-download-alt(aria-hidden="true")
							|Clear Filter
					button#export.btn.btn-success(type='button') 
						span.glyphicon.glyphicon-exclamation-download-alt(aria-hidden="true")
						|Export CSV
			br
			table.table.table-striped.table-bordered
				thead
					tr
						td No
						td Name
						td Email
						td Dob
						td Phone
						td City
						td Date 
				tbody
					- var x=users.page*users.limit-users.limit+1;
					- var month = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
					if users.length
						each val in users
							- var dob = new Date(val.dob);
							- var date = new Date(val.datecreated);
							tr
								td= x++
								td= val.name
								td= val.email
								td= dob.getDate()+' '+month[dob.getMonth()]+' '+dob.getFullYear()
								td= val.phone
								td= val.city
								td= date.getDate()+' '+month[date.getMonth()]+' '+date.getFullYear()
					else
						tr
							td(colspan=7) Oopps no users found
			if users.pages>1
				nav
					ul.pagination
						if users.page-1!=0
							li
								a(href="#{site_url()}/#{admin_url}/report/"+(users.page-1), aria-label="Previous")
									span(aria-hidden="true") &laquo;
						-var x=1
						while x<=users.pages
							li(class={active: users.page == x})
								a(href="#{site_url()}/#{admin_url}/report/"+x)= x++
						-var next = parseInt(users.page)+1;
						if next<=users.pages
							li
								a(href="#{site_url()}/#{admin_url}/report/"+next, aria-label="Next")
									span(aria-hidden="true") &raquo;
block script
	script.
		$(document).ready(function(){
			$('#date_from').datepicker({format: "yyyy-mm-dd"});
			$('#date_to').datepicker({format: "yyyy-mm-dd"});

			$('#export').on('click', function(){
				var date_from = $('#date_from').val();
				var date_to = $('#date_to').val();
				var url = '#{site_url()}/#{admin_url}/report/export?date_from='+date_from+'&date_to='+date_to;

				window.location.href = url;
			});
		});
